// 共通scss読み込み--------------------------
@import "../common";
// 共通scss読み込み--------------------------

// ここから一覧画面のscss--------------------------
.index {
    // search--------------------------

    .search {
        &__detail {
            width: 100%;
            height: 209px;
            margin-top: 20px;
            padding: 20px;
            background: #f4f8fc;
            border: 1px solid #707070;
            border-radius: 28px;
            position: relative;
        }

        &__btn {
            position: absolute;
            top: 120px;
            right: 20px;
            @include media-tab {
                display: none;
            }
        }

        &__spBtn {
            display: none;
            @include media-tab {
                display: block;
                max-width: 160px;
                margin: 17px auto 0;
            }
        }
    }

    // search--------------------------

    // result-------------------------
    .result {
        // 検索結果の人数表示部分------------------------
        &__numbers {
            display: inline-block;
            margin-top: 15px;
            padding: 10px 12px;
            background: #fff;
            border: 1px solid #707070;
            font-size: 1.2rem;
            color: #666;
            letter-spacing: calc(500rem / 1000);
        }
        // 検索結果の人数表示部分------------------------

        // フリーテキストエリア------------------------
        &__txt {
            max-width: 234px;
            width: 50%;
            height: 260px;
            margin-left: 17px;
            padding: 15px;
            border: 5px dashed $sub-color;
            font-size: 1.4rem;
            display: -webkit-box;
            -webkit-line-clamp: 11;
            -webkit-box-orient: vertical;
            overflow: hidden;
            word-break: break-all;
            @include media-sp {
                margin: 34px auto 85px;
                height: 150px;
                max-width: 600px;
                width: 100%;
                -webkit-line-clamp: 6;
            }
        }

        // フリーテキストエリア------------------------

        // 詳細画面へ移行するボタン------------------------
        &__btn {
            position: absolute;
            top: 215px;
            right: 20px;
            @include media-tab {
                top: auto;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                max-width: 600px;
                width: 90%;
            }
        }
        // 詳細画面へ移行するボタン------------------------
    }

    // result-------------------------
}
// ここから一覧画面のscss--------------------------
