// 共通scss読み込み--------------------------
@import  "../common";
// 共通scss読み込み--------------------------

// ここから一覧画面のscss--------------------------
// header--------------------------
.header{
  &__container{
    display: flex;
    justify-content: left;
    align-items: center;
  }

  &__search{
    position:relative;
    max-width:360px;
    width: 100%;
    height: 40px;
    margin: 0 0 0 117px;
  }
  &__searchArea{
    position:relative;
    width: 100%;
    padding:12px 50px 12px 31px;
    border: 1px solid #AFADAD;
    border-radius:15px;
    box-shadow: 0 3px 6px #00000029;
    outline:0;
    background:#fff;
    font-size: 1.6rem;
    &::placeholder{
      color: #BDC3C7;
    }
  }
  &__searchBtn{
    position:absolute;
    right: 12px;/*アイコン左右の位置調整*/
    top:50%;
    transform: translateY(-50%);
	width: 50px;
    height:50px;
    background: none;
    font-size:2rem;/*アイコンサイズ*/
    color:#666;

    &:hover{
      color:#7fbfff;
    }
  }
}
// header--------------------------

// search--------------------------

.search{
  padding: 160px 0 40px 0;
	&__detail{
		width: 100%;
		height: 209px;
		margin-top: 20px;
		padding: 20px;
		background: #F4F8FC;
		border: 1px solid #707070;
		border-radius: 28px;
	}
}

// search--------------------------

// result-------------------------
.result{

  // 検索結果の人数表示部分------------------------
  &__numbers{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 12px;
		background: #fff;
    border: 1px solid #707070;
    font-size: 1.2rem;
    color: #666;
    letter-spacing: calc(500rem/1000);
  }
  // 検索結果の人数表示部分------------------------

  // 検索結果　個人プロフィール部分------------------------
  &__card{
    position: relative;
    display: flex;
    margin-top: 45px;
    padding: 23px 40px;
		background: #fff;
    border-radius: 45px;
    box-shadow: 0 3px 6px #00000029;
  }

  // 属性------------------------
	&__prof{
		max-width: 200px;
		width: 40%;
	}

	&__dataBox{
		display: flex;

		&:not(:first-child){
			margin-top: 40px;
		}
	}

	&__dataTtl{
		font-size: 2rem;
		color: $sub-color;
	}

	&__dataCnt{
		display: inline-block;
		margin-left: 20px;
		font-size: 2rem;
  }
  // 属性------------------------


  // スキル------------------------
  &__check{
    display: none;
  }

  &__skill{
    width: 212px;
  }
  &__label{
    position: relative;
    z-index: 1;
    display: block;
    height: 48px;
    line-height: calc(48px - (3px * 2));
    padding: 0 14px;
    background: $bg-color;
    border: 3px solid $sub-color;
    border-radius: 16px;
    font-size: 2rem;
    text-align: center;
    color: $sub-color;

    &:after{
      content: '＋';
      position: absolute;
      right: 26px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      background: none;
      font-size: 2rem;
    }
  }
  // スキル------------------------

  // スキル　アコーディオンで見える部分------------------------
  &__skills{
    display: block;
    height: 0;
    margin: -15px 0 17px ;
    padding: 25px 15px 15px ;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 0 0 30px 30px;
    opacity: 0;
    transition: .5s;
    visibility: hidden;
    font-size: 1.2rem;
		&:last-child{
			margin-bottom: 0;
		}
  }
  &__check:checked + &__label:after{
    content: 'ー';
  }
  &__check:checked + &__label + &__skills{
    height: auto;
    transition: .5s;
    opacity: 1;
    visibility: visible;
  }

	&__skillBox{
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:not(:first-child){
			margin-top: 10px;
		}
	}
	&__skillTtl{
		width: 45%;
	}

	&__skillCnt{
		width: 55%;
		padding: 6px 25px;
		border-radius: 15px;
		background: $level-color;
		font-size: 1.2rem;
		color: $txt-color-white;
		text-align: center;

	}
  // スキル　アコーディオンで見える部分------------------------

	// フリーテキストエリア------------------------
  &__txt{
		max-width: 234px;
		width: 25%;
		max-height: 300px;
		margin-left: 17px;
		padding: 15px;
		border: 5px dashed $sub-color;
		font-size: 1.4rem;
  }
		// フリーテキストエリア------------------------


  // 詳細画面へ移行するボタン------------------------
  &__btn{
    position: absolute;
    top: 230px;
    right: 20px;
  }
  // 詳細画面へ移行するボタン------------------------
}

// result-------------------------


// ここから一覧画面のscss--------------------------
