// 共通scss読み込み--------------------------
@import  "../common";
// 共通scss読み込み--------------------------
// ここから一覧画面のscss--------------------------
// header--------------------------

.main {
		width: 100%;
		height: 789px;
		padding: 10px;
}

.result {
  &__contents {
    height: 789px;
    background: #fff;
    padding: 23px 40px;
    border-radius: 45px;
    box-shadow: 0 3px 6px #00000029;
  }

  &__contentsBox {
  padding-bottom: 5%;
  display: flex;
  justify-content: space-around;
  position: relative;
  }

  &__contentsBox::before {
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
		border: 1px dashed $sub-color;
  }

  &__box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4rem;
  }
}
