<!-- font awesome CSS -->
<!-- <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet"> -->
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<body>
  <header class="header">
    <div class="header__container">
      <h1 class="header__ttl">挫折乗り越えサロンMember Site</h1>
    </div>
  </header>

  <section class="search">
    <div class="result_contain inner">
      <div class="section__head">
        <h2 class="section__ttl">プロフィール詳細</h2>
      </div>
      <div class="section__sub">
        <div class="section__sub-icon">
          <input type="button" value="<i class="far fa-dizzy fa-4x my-gray">" onclick="CountUp()">
        </div>
        <p>・・・・・・・・これまでの挫折回数（笑）</p>
      </div>
    </div>

    <div class="main">  <!-- 詳細一覧 -->
      <div class="result__contents inner"> <!-- 詳細中身 -->
        <div class="result__contentsBox">
          <div class="result__skill">		<!-- スキル(アコーディオンメニュー）の部分 -->
            <input id="check1-1" class="result__check" type="checkbox">
            <label class="result__label" for="check1-1">Web開発</label>

            <div class="result__skills">	<!-- アコーディオンメニューの中身 -->
              <dl class="result__skilldata">
                <div class="result__skillBox">
                  <dt class="result__skillTtl">Photoshop</dt>
                  <dd class="result__skillCnt">ベテラン</dd>
                </div>
                <div class="result__skillBox">
                  <dt class="result__skillTtl">illustrator</dt>
                  <dd class="result__skillCnt">初心者</dd>
                </div>
                <div class="result__skillBox">
                  <dt class="result__skillTtl">figma</dt>
                  <dd class="result__skillCnt">勉強中</dd>
                </div>
              </dl>
            </div><!-- アコーディオンメニューの中身 -->

            <input id="check1-2" class="result__check" type="checkbox">
            <label class="result__label" for="check1-2">デザイン</label>

            <div class="result__skills">	<!-- アコーディオンメニューの中身 -->
              <dl class="result__skilldata">
                <div class="result__skillBox">
                  <dt class="result__skillTtl">Photoshop</dt>
                  <dd class="result__skillCnt">ベテラン</dd>
                  </div>
                <div class="result__skillBox">
                  <dt class="result__skillTtl">illustrator</dt>
                  <dd class="result__skillCnt">初心者</dd>
                </div>
                <div class="result__skillBox">
                  <dt class="result__skillTtl">figma</dt>
                  <dd class="result__skillCnt">勉強中</dd>
                </div>
              </dl>
            </div><!-- アコーディオンメニューの中身 -->


            <input id="check1-3" class="result__check" type="checkbox">
            <label class="result__label" for="check1-3">動画編集</label>

            <div class="result__skills">	<!-- アコーディオンメニューの中身 -->
              <dl class="result__skilldata">
                <div class="result__skillBox">
                  <dt class="result__skillTtl">Photoshop</dt>
                  <dd class="result__skillCnt">ベテラン</dd>
                </div>
                <div class="result__skillBox">
                  <dt class="result__skillTtl">illustrator</dt>
                  <dd class="result__skillCnt">初心者</dd>
                </div>
                <div class="result__skillBox">
                  <dt class="result__skillTtl">figma</dt>
                  <dd class="result__skillCnt">勉強中</dd>
                </div>
              </dl>
            </div><!-- アコーディオンメニューの中身 -->


          </div><!-- スキル(アコーディオンメニュー）の部分 -->

          <div class="result__prof"> <!-- プロフィール -->
            <dl class="result__data">
              <div class="result__dataBox">
                <dt class="result__dataTtl">Slack名</dt>
                <dd class="result__dataCnt">ぎょうざ</dd>
              </div>
              <div class="result__dataBox">
                <dt class="result__dataTtl">性別</dt>
                <dd class="result__dataCnt">女</dd>
              </div>
              <div class="result__dataBox">
                <dt class="result__dataTtl">世代</dt>
                <dd class="result__dataCnt">小室世代</dd>
              </div>
              <div class="result__dataBox">
                <dt class="result__dataTtl">住んでる所</dt>
                <dd class="result__dataCnt">東京</dd>
              </div>
              <div class="result__dataBox">
                <dt class="result__dataTtl">稼働可能時間帯</dt>
                <dd class="result__dataCnt">平日19時以降</dd>
              </div>
            </dl>
          </div>

          <div class="result__prof"> <!-- 個人情報 -->
            <dl class="result__data">
              <div class="result__dataBox">
                <dt class="result__dataTtl">取得資格</dt>
                <dd class="result__dataCnt">証券外務員I種</dd>
              </div>
              <div class="result__dataBox">
                <dt class="result__dataTtl">趣味</dt>
                <dd class="result__dataCnt">音楽鑑賞</dd>
              </div>
              <div class="result__dataBox">
                <dt class="result__dataTtl">得意なこと</dt>
                <dd class="result__dataCnt">Jassの話</dd>
              </div>
              <div class="result__dataBox">
                <dt class="result__dataTtl">話したいこと</dt>
                <dd class="result__dataCnt">〇〇</dd>
              </div>
              <div class="result__dataBox">
                <dt class="result__dataTtl">話したくないこと</dt>
                <dd class="result__dataCnt">〇〇</dd>
              </div>
            </dl>
          </div>

          <div class="result__prof"> <!-- SNS・ポートフォリオ -->
            <div class="result__box">
              <div class="result__text">
                <h2>＼ Follow me ／</h2>
              </div>
              <div class="result__sns">
                <ul class="result__sns--item">
                  <li class ="result__sns--twitter"><i class="fab fa-twitter"></i></li>
                  <li class="result__sns--facebook"><i class="fab fa-facebook-f"></i></li>
                  <li class="result__sns--instagram"><i class="fab fa-instagram"></i></li>
                  <li class="result__sns--github"><i class="fab fa-github fa-2x"></i></li>
                </ul>
                <ul class="result__sns--item">
                  <li class ="result__sns--twitter--mono"><i class="fab fa-twitter"></i></li>
                  <li class="result__sns--facebook--mono"><i class="fab fa-facebook-f"></i></li>
                  <li class="result__sns--instagram--mono"><i class="fab fa-instagram"></i></li>
                  <li class="result__sns--github--mono"><i class="fab fa-github fa-2x"></i></li>
              </ul>

              </div>
              <div>
                <a href="#" class="result__button button">ポートフォリオ</a>
                <a href="#" class="result__button button after">ポートフォリオ</a>
              </div>
            </div>
          </div>
          </div>
            <div class="result__txtBox">
              <p class="result__txtBox-txt">
              これはテキストです。これはテキストです。これはテキストです。これはテキストです。
              これはテキストです。これはテキストです。これはテキストです。これはテキストです。
              これはテキストです。これはテキストです。これはテキストです。これはテキストです。
              </p>
            </div>
        </div>
      </div>
    </div>
  </section>
</body>