<h1>Mock::Users#show</h1>
<p>Find me in app/views/mock/users/show.html.erb</p>
<!-- font awesome CSS -->
<!-- <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet"> -->
<body>
  <header class="header">
    <div class="header__container">
      <h1 class="header__ttl">挫折乗り越えサロンMember Site</h1>
    </div>
  </header>

    <div　class="main">  <!-- 詳細一覧 -->
      <div class="section__head">
        <h2 class="section___ttl">プロフィール詳細</h2>
        <div>
          <p>・・・・・・・・・これまでの挫折回数（笑）</p>
        </div>
      <div>

      <div class="result__content"> <!-- 詳細中身 -->
        <div class="result__skill">		<!-- スキル(アコーディオンメニュー）の部分 -->
          <input id="check1-1" class="result__check" type="checkbox">
          <label class="result__label" for="check1-1">デザイン</label>

          <div class="result__skills">	<!-- アコーディオンメニューの中身 -->
            <dl class="result__skilldata">
              <div class="result__skillBox">
                <dt class="result__skillTtl">Photoshop</dt>
                <dd class="result__skillCnt">ベテラン</dd>
              </div>
              <div class="result__skillBox">
                <dt class="result__skillTtl">illustrator</dt>
                <dd class="result__skillCnt">初心者</dd>
              </div>
              <div class="result__skillBox">
                <dt class="result__skillTtl">figma</dt>
                <dd class="result__skillCnt">勉強中</dd>
              </div>
            </dl>
          </div><!-- アコーディオンメニューの中身 -->

          <input id="check1-2" class="result__check" type="checkbox">
          <label class="result__label" for="check1-2">Web開発</label>

          <div class="result__skills">	<!-- アコーディオンメニューの中身 -->
            <dl class="result__skilldata">
              <div class="result__skillBox">
                <dt class="result__skillTtl">Photoshop</dt>
                <dd class="result__skillCnt">ベテラン</dd>
                </div>
              <div class="result__skillBox">
                <dt class="result__skillTtl">illustrator</dt>
                <dd class="result__skillCnt">初心者</dd>
              </div>
              <div class="result__skillBox">
                <dt class="result__skillTtl">figma</dt>
                <dd class="result__skillCnt">勉強中</dd>
              </div>
            </dl>
          </div><!-- アコーディオンメニューの中身 -->


          <input id="check1-3" class="result__check" type="checkbox">
          <label class="result__label" for="check1-3">動画編集</label>

          <div class="result__skills">	<!-- アコーディオンメニューの中身 -->
            <dl class="result__skilldata">
              <div class="result__skillBox">
                <dt class="result__skillTtl">Photoshop</dt>
                <dd class="result__skillCnt">ベテラン</dd>
              </div>
              <div class="result__skillBox">
                <dt class="result__skillTtl">illustrator</dt>
                <dd class="result__skillCnt">初心者</dd>
              </div>
              <div class="result__skillBox">
                <dt class="result__skillTtl">figma</dt>
                <dd class="result__skillCnt">勉強中</dd>
              </div>
            </dl>
          </div><!-- アコーディオンメニューの中身 -->


        </div><!-- スキル(アコーディオンメニュー）の部分 -->

        <div class="result__prof">
          <dl class="result__data">
            <div class="result__dataBox">
              <dt class="result__dataTtl">Slack名</dt>
              <dd class="result__dataCnt">ぎょうざ</dd>
            </div>
            <div class="result__dataBox">
              <dt class="result__dataTtl">性別</dt>
              <dd class="result__dataCnt">女</dd>
            </div>
            <div class="result__dataBox">
              <dt class="result__dataTtl">世代</dt>
              <dd class="result__dataCnt">小室世代</dd>
            </div>
            <div class="result__dataBox">
              <dt class="result__dataTtl">住んでる所</dt>
              <dd class="result__dataCnt">東京</dd>
            </div>
          </dl>
        </div>

        <div class="result__prof"> <!-- 個人情報 -->
          <dl class="result__data">
            <div class="result__dataBox">
              <dt class="result__dataTtl">取得資格</dt>
              <dd class="result__dataCnt">証券外務員I種</dd>
            </div>
            <div class="result__dataBox">
              <dt class="result__dataTtl">趣味</dt>
              <dd class="result__dataCnt">音楽鑑賞</dd>
            </div>
            <div class="result__dataBox">
              <dt class="result__dataTtl">得意なこと</dt>
              <dd class="result__dataCnt">Jassの話</dd>
            </div>
            <div class="result__dataBox">
              <dt class="result__dataTtl">話したいこと</dt>
              <dd class="result__dataCnt">〇〇</dd>
            </div>
            <div class="result__dataBox">
              <dt class="result__dataTtl">話したくないこと</dt>
              <dd class="result__dataCnt">〇〇</dd>
            </div>
          </dl>
        </div>

        <div class="result__prof"> <!-- SNS・ポートフォリオ -->
          <div class="result__txt">
            <h2>＼ Follow me ／
            <div class="result__sns">
              <i>Twitter
              <i>Facebook
              <i>Instagram
              <i>github
            </div>
            <a href="#" class="result__btn button">ポートフォリオ</a>
          </div>
        </div>


      </div>


    </div>








</body>